<div class="row">
  <div class="col-12 text-center">
    <div id="demo" class="carousel slide dark carousel-fade" data-ride="carousel" data-interval="200">
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div *ngFor="let url of epicImages; let i = index" class="carousel-item" [ngClass]="{'active': i == 0}">
          <img [src]="url" class="w-75 h-75" [alt]="i">
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev" (click)="setIndex(-1)">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next" (click)="setIndex(1)">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>
    </div>

  </div>
  <!-- {{epicImages | json}} -->
