<div id="wrapper" class="dark">
  <div class="container-fluid slideshow">
    <div class="row d-flex align-items-center">
      <div class="col-xl-3 col-lg-4 col-md-12 widget-controls">
        <app-widget-controls [epics]="epics"></app-widget-controls>
      </div>
      <!-- End widget controls -->
      <div class="slide-container col-xl-9 col-lg-8 col-md-12">
        <app-slide-container [epicImages]="epicImages"></app-slide-container>
        <!-- {{epics | json}} -->
      </div>
      <!-- End slide container -->
    </div>
  </div>
</div>
<!-- <div class="dark-bottom fixed-bottom"></div> -->
