<div class="card info">
  <div class="card-header">
    <a class="card-link" data-toggle="collapse" href="#infoBody">
      Image Information
      <i class="fas fa-chevron-down float-right"></i>
    </a>
  </div>
  <div id="infoBody" class="collapse show">
    <div class="card-body">
      <div class="info-item">
        <b>{{epics[currentIndex]?.image}}</b>
        <p>Processing Version: {{epics[currentIndex]?.version}} </p>
        <p>Date: {{epics[currentIndex]?.date}}</p>
        <p>Position of the satellite in space:
          <span class="ml-3 d-block">x : {{epics[currentIndex]?.dscovr_j2000_position.x}}</span>
          <span class="ml-3 d-block">y : {{epics[currentIndex]?.dscovr_j2000_position.y}}</span>
          <span class="ml-3 d-block">z : {{epics[currentIndex]?.dscovr_j2000_position.z}}</span>
        </p>
        <p>Geographical coordinates that the satellite is looking at:
          <span class="ml-3 d-block">Latitude : {{epics[currentIndex]?.centroid_coordinates.lat}}</span>
          <span class="ml-3 d-block">Longitude : {{epics[currentIndex]?.centroid_coordinates.lon}}</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card controls">
  <div class="card-header">
    <a class="card-link" data-toggle="collapse" href="#controls">
      Slideshow controls
      <i class="fas fa-chevron-down float-right"></i>
    </a>
  </div>
  <div id="controls" class="collapse show">
    <div class="card-body">
      <div class="row text-center">
        <div class="showingImg col-lg-12 ">
          Showing <span id="currentImg" class="font-weight-bold">{{currentIndex + 1}} </span>of {{ epics.length }}.
          <a *ngIf="!isPlay" class="btn btn-secondary text-white controls ml-3 play" (click)="slidePlayer()"><i
              class="fas fa-play-circle"></i> Play</a>
          <a *ngIf="isPlay" class="controls btn btn-secondary text-white ml-3 pause" (click)="slidePlayer()"><i
              class="fas fa-pause-circle"></i>
            Pause</a>
        </div>
        <div class="col-lg-12 mt-2">
          <b>{{dateEpic.year}}-{{dateEpic.month}}-{{dateEpic.day}} <i class="fas fa-calendar-alt btn btn-secondary"
              (click)="isShowDatePicker = !isShowDatePicker"></i></b>
          <ngb-datepicker [startDate]="dateEpic" *ngIf="isShowDatePicker" (select)="onDateSelect($event)">
          </ngb-datepicker>
        </div>
        <div class="col-lg-12">
          <div class="form-inline d-flex justify-content-center">
            <label>Imagery:</label>
            <select [(ngModel)]="imageryOption" (change)="onSelectImagery()" class="form-control ml-2">
              <option value="natural">Natural</option>
              <option value="enhanced">Enhanced</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
